/* Estilos generales para la página de compra */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-details {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.payment-options {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-plan {
    margin-bottom: 10px;
}

label {
    font-size: 1.2em;
}

input[type="radio"] {
    margin-left: 10px;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
}

.btn-submit:hover {
    background-color: #005bb5;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1em;
}
